.navbarLink {
    margin-right: 5px;
    font-size: 18px;
    color: #d8d8d8;
}

.navbarLink:hover {
    color: #b9b9b9;
}

.linkText {
    display: flex;
    align-items: center;
}

.searchBar {
    max-width: 200px;
}